---
// import PhotographsLoop from "../components/photographs-loop.astro";

import Layout from "../layouts/main.astro";
import PhotographsLoop from "../components/photographs-loop.astro";
// ---

<Layout title="Mes photographies">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <heading
      title="Mes photographies"
      description="Dive into my musings on life and tech in my latest posts; a blend of introspection and innovation. Keep an eye out for fresh insights and updates!"
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PhotographsLoop count="10" />
    </div>
  </section>
</Layout>
